.App {
  min-height: 100vh;
  text-align: center;
  color: white;
  font-size: calc(9px + 1.71vmin);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  padding-top: 0.75em;
  color: rgb(255, 102, 0);
  cursor: pointer;
}

.lightbulb {
  height: 1.65em;
  line-height: 0em;
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  top: 3.3em;
  right: -2em;
  cursor: pointer;
}

.App-link {
  color: inherit;
  text-decoration: none;
}
.App-link:hover {
  cursor: pointer;
  color: #61dafb;
}

/* Search Form */
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #ffffff1a;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.form-group {
  display: flex;
  height: 1.2em;
  line-height: 1.2em;
  justify-content: center;
  padding-bottom: 0.25em;
}
.form-group input {
  margin: 0em 0.5em;
  padding-left: 5px;
}
.form-group button {
  padding: 0 10px;
  letter-spacing: 0.75px;
}

/* List Table */
.table-container {
  width: 90%;
  max-width: 45em;
  padding-bottom: 1.5em;
}

.table {
  text-align: left;
  max-width: 95%;
  margin: auto;
  font-size: 0.85em;
}

.table td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 7em;
  min-width: 1.7em;
  max-width: 20%;
}

table,
thead,
tbody,
th,
td {
  display: block;
}

th {
  font-size: 0.85em;
  width: 8em;
  min-width: 1.7em;
  max-width: 20%;
  cursor: pointer;
}
tr {
  display: flex;
  padding-bottom: 1px;
}

.title-col {
  max-width: 45vw !important;
  text-align: left !important;
  min-width: 10em !important;
  padding-right: 5px;
  font-size: 0.8em;
  width: -webkit-fill-available !important;
}
.point-col {
  font-family: monospace;
}
.author-col {
  font-size: 0.85em;
}
.date-col {
  min-width: 6em !important;
  font-family: monospace;
}
td.date-col {
  font-size: 0.83em;
}

.comment-icon {
  width: 1em;
  vertical-align: text-bottom;
}

/* utility classes */
.underline {
  text-decoration: underline;
}
.center {
  text-align: center;
}

@media (max-width: 580px) {
  .App {
    font-size: calc(10px + 1.9vmin);
  }

  .author-col {
    display: none;
  }
}
