.App {
	min-height: 100vh;
	text-align: center;
	/* set in App.js */
	/* background-color: #282c34; */
	/* background-color: rgb(246, 246, 239); */
	color: white;
	font-size: calc(10px + 2vmin);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.AppHeader {
	padding-top: 0.75em;
	color: rgb(255, 102, 0);
}

.lightBulb {
	height: 1.65em;
	line-height: 0em;
	margin-top: auto;
	margin-bottom: auto;
	position: absolute;
	top: 3.3em;
	right: -2em;
	cursor: pointer;
}

.App-link {
	color: #61dafb;
}

.formWrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: 1px solid #ffffff1a;
	margin-bottom: 10px;
	padding-bottom: 5px;
	/* color: #303030;  set in App.js */
}

.formElementWrap {
	display: flex;
	height: 1.2em;
	line-height: 1.2em;
	justify-content: center;
	padding-bottom: 0.25em;
}
.formElementWrap input {
	margin: 0em 0.5em;
}

.resetImg {
	width: 0.6em;
	height: 0.6em;
	padding-left: 8px;
	cursor: pointer;
}

.tableWrap {
	width: 90%;
	max-width: 45em;
	padding-bottom: 1.5em;
}

.dataTable {
	text-align: left;
	max-width: 90%;
	margin: auto;
	font-size: 0.85em;
	/* color: #727272; */
}

.dataTable td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 7em;
	min-width: 1.7em;
	max-width: 20%;
}

table,
thead,
tbody,
th,
td {
	display: block;
}

th {
	font-size: 0.85em;
	width: 8em;
	min-width: 1.7em;
	max-width: 20%;
}
tr {
	display: flex;
}

.dateHeader {
	text-align: center;
}

.sortHeader {
	cursor: pointer;
}

.titleCol {
	max-width: 45vw !important;
	text-align: left !important;
	min-width: 10em !important;
	padding-right: 5px;
	font-size: 0.8em;
	width: -webkit-fill-available !important;
}
.linkCol {
	text-align: center;
}
.pointCol {
	text-align: center;
}
.authorCol {
	font-size: 0.85em;
}
.dateCol {
	min-width: 6em !important;
	font-size: 0.9em;
}

@media (max-width: 580px) {
	.dateCol {
		display: none;
	}
}
